body {
  //background: #313F4E;
  background-image: url(/images/main_bg.png);
}

.mt-10 {
  margin-top: 10px;
}

button ~ button {
  margin-left: 20px;
}

.login-by-user {
  margin-top: 5px;
  button {
    width: 100%;
  }
}

.login-by-facebook {
  margin-top: 5px;
  a {
    width: 100%;
    background-color: #3F65B5;
    border-color: #3F65B5;
    color: #ffffff;
    opacity: 0.9;
  }

  a:hover {
    color: #ffffff;
    opacity: 1;
  }
}

.login-by-google {
  margin-top: 5px;
  a {
    width: 100%;
    background-color: #CA4130;
    border-color: #CA4130;
    color: #ffffff;
    opacity: 0.9;
  }

  a:hover {
    color: #ffffff;
    opacity: 1;
  }
}

.verification-email-error {
  text-align: center;

  .title {
    font-weight: bold;
  }
}

.logo-image {
  max-width: 100px;
  max-height: 45px;
  border-radius: 50%;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.bg-header {
  background-color: #071526;
  color: #ffffff !important;
}

.app {
  .navbar-light {
    .navbar-brand {
      color: rgba(255, 255, 255, 0.9);
    }
    .navbar-brand:hover, .navbar-brand:focus {
      color: rgba(255, 255, 255, 0.9);
    }
    .navbar-nav {
      .nav-link {
        color: rgba(255, 255, 255, 0.5);
      }
      .nav-link:hover, .nav-link:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      .nav-link.disabled {
        color: rgba(255, 255, 255, 0.3);
      }
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: rgba(255, 255, 255, 0.9);
      }
    }
    .navbar-toggler {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
    }
    .navbar-text {
      color: rgba(255, 255, 255, 0.5);
    }
    .navbar-text a {
      color: rgba(255, 255, 255, 0.9);
    }
    .navbar-text a:hover, .navbar-text a:focus {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus,
  .navbar-toggler:active {
    background-color: rgba(255, 255, 255, 0.9);
  }
}